* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../images/hurl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.home-container {
    height: 65vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: column;
}