@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Condensed&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    color: black;
    font-family: roboto condensed, sans-serif;
}

/* This CSS controls the backgroundimage and body for both pages */
body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/stick-and-ball.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* This is the beginning of the home page css*/
.home-container {
    height: 45vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.home-container h1 {
    font-size: 45px;
    font-weight: bolder;
    color: pink;

}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

#local-name {
    font-size: larger;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

#name {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 10px;
}

#name-btn {
    background-color: pink;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

#name-btn:hover {
    background: plum;
    transition: background-color 0.9s ease-in-out;
}

.flex-start {
    display: flex;
    flex-direction: column;
}

.play-now {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.rules-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

#rules-button {
    background-color: pink;
    color: black;
    border: none;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;

}

#rules-button:hover {
    background: plum;
    transition: background-color 0.9s ease-in-out;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.rules-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-rules {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-rules:hover,
.close-rules:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* This is the beginning of the quiz page CSS*/
.quiz-box {
    width: 70%;
    max-width: 600px;
    margin: 5% auto;
    padding: 20px;
    background-color: pink;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz-box h1 {
    font-size: 30px;
    color: black;

}

.quiz {
    padding: 30%;
}

.quiz h2 {
    font-size: 20px;
}

.button {
    background: white;
    color: black;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 15px 0;
    cursor: pointer;
}

.button:hover {
    background: plum;
    transition: background-color 0.9s ease-in-out;
}

.seo-chugainn {
    font-weight: bold;
    display: none;

}

#score {
    text-transform: uppercase;
    font-size: larger;
    font-style: bold;
}

.seo-chugainn:hover {
    background-color: chartreuse;

}




/* flashin timer animation  */
@keyframes fade {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#timer {
    text-transform: uppercase;
    color: black;
    animation: fade 1s infinite;
}

/* css for end game model  */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close-rules {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}